<% include header%>
<form action="/" class="ui form" method="post">
    <div class="field">
        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>
    </div>
    <button class="ui blue labeled submit icon button" type="submit">
        <i class="icon edit"></i>Envoyer
    </button>
</form>
<div class="ui comments">
    <h3 class="ui dividing header">commentaires</h3>
    <% for (message of messages){ %>
        <div class="comment">
            <a class="avatar" href="/message/<%= message.id %>">
                <img alt="icon" src="https://placehold.it/150x100"></a>
                <div class="content">
                    <div class="metadata">
                        <div class="date">
                            <%=message.created_at.fromNow()%>
                        </div>
                    </div>
                    <div class="test"><%=message.content%></div>
                </div>
            </div>
        <%}%>
    </div>
    <% include footer%>
